@media screen{
    <!--head{text-align: center;
    margin: 50% auto;}
    h1{color:white;
    font-family:Arial;
    font-size: 50px;}-->
    body{
        background-color:rgb(26,32,94);
        font-family:Arial;
        color:white;
    }
    .mitte {margin:0px auto;

    text-align: center;}

    .mitte table{text-align: center;
        margin-left: 40%;
    }
   #rechts{

   }
   #weiß {
       font-family: Arial;
       color: white;
       font-weight: bold;
   }

 
   #platzhalter{
       border: white 2px solid;
       float: right;
       height: 100px;
   }








}