@media screen{
    body{
        background-color:rgb(26,32,94);
        font-family:Arial;
        color:white;
    }
    #title{
        font-family: "Arial";
        font-size: 36pt;
        color: white;
        margin: 30px auto;
        padding-left: 30px;
        text-align: center;
    }
    .rot{
        color: rgb(136,0,22);
        margin-left: 17px;
    }
    .size{
        font-size:14px;}

    a {
        color: white;
        text-decoration: none;
    }
    #platzhalter{
        border: white 2px solid;
        float: right;
        height: 100px;
    }

}